org.emoflon.gips.gipsl.examples.headlessrunnermodel/model/HeadlessrunnermodelXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:org.emoflon.gips.gipsl.examples.headlessrunnermodel="platform:/resource/org.emoflon.gips.gipsl.examples.headlessrunnermodel/model/Headlessrunnermodel.ecore" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="platform:/resource/org.emoflon.gips.gipsl.examples.headlessrunnermodel/model/Headlessrunnermodel.ecore">
  <xsd:annotation>
    <xsd:documentation>TODO: Add documentation for headlessrunnermodel. Hint: You may copy this element in the Ecore editor to add documentation to EClasses, EOperations, ...</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:complexType name="Root">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="nodes" type="org.emoflon.gips.gipsl.examples.headlessrunnermodel:Node"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="nodes" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Root" type="org.emoflon.gips.gipsl.examples.headlessrunnermodel:Root"/>
  <xsd:complexType name="Node">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="cost" type="xsd:int"/>
  </xsd:complexType>
  <xsd:element name="Node" type="org.emoflon.gips.gipsl.examples.headlessrunnermodel:Node"/>
</xsd:schema>
